<?xml version="1.0"?>

<!--
 * Copyright 2004 The Apache Software Foundation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- This web.xml can be used during debugging, when there is no myfaces.jar
        library available.

        The faces-config.xml file (that is normally in the myfaces.jar) must be
        copied to the /WEB-INF directory of the web context.

        The TLDs (that are normally in the myfaces.jar) must be
        copied to the /WEB-INF/lib directory of the web context.-->
    <description>debug web.xml</description>

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
            /WEB-INF/tiles-faces-config.xml
        </param-value>
        <description>
            Comma separated list of URIs of (additional) faces config files.
            (e.g. /WEB-INF/my-config.xml)
            See JSF 1.0 PRD2, 10.3.2
        </description>
    </context-param>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
        <description>
            State saving method: "client" or "server" (= default)
            See JSF Specification 2.5.2
        </description>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
        <param-value>true</param-value>
        <description>
            This parameter tells MyFaces if javascript code should be allowed in the
            rendered HTML output.
            If javascript is allowed, command_link anchors will have javascript code
            that submits the corresponding form.
            If javascript is not allowed, the state saving info and nested parameters
            will be added as url parameters.
            Default: "true"
        </description>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>true</param-value>
        <description>
            If true, rendered HTML code will be formatted, so that it is "human readable".
            i.e. additional line separators and whitespace will be written, that do not
            influence the HTML code.
            Default: "true"
        </description>
    </context-param>


    <!-- Tiles configuration
         definition files and a listener need to be defined.
         the listener will initialize JspTilesViewHandlerImpl with tiles definitions.
    -->
    <context-param>
        <param-name>tiles-definitions</param-name>
        <param-value>/WEB-INF/tiles.xml</param-value>
    </context-param>

         <filter>
        <filter-name>AccessFilter</filter-name>
                 <description>access filter</description>
                <filter-class>net.sf.jguard.filters.AccessFilter</filter-class>
        <!--global settings -->
        <!--global settings -->
                <!-- authentication settings -->
                <init-param>
                        <param-name>loginField</param-name>
                        <param-value>login</param-value>
                        <description>form's field which contains login value</description>
                </init-param>
                <init-param>
                        <param-name>passwordField</param-name>
                        <param-value>password</param-value>
                        <description>form's field which contains password value</description>
                </init-param>
                <init-param>
                        <param-name>indexURI</param-name>
                        <param-value>/hamyar/index.jsp</param-value>
                        <description>page to redirect if authentication success</description>
                </init-param>
                <init-param>
                        <param-name>authenticationFailedURI</param-name>
                        <param-value>/hamyar/AuthenticationFailed.jsp</param-value>
                        <description>page to redirect if authentication failed</description>
                </init-param>
                <init-param>
                        <param-name>logonURI</param-name>
                        <param-value>/hamyar/Logon.jsp</param-value>
                        <description>page with authentication form</description>
                </init-param>
                <init-param>
                        <param-name>logonProcessURI</param-name>
                        <param-value>/hamyar/LogonProcess.do</param-value>
                        <description>ressource accessed when you try to authenticate</description>
                </init-param>
 <init-param>
                        <param-name>logoffURI</param-name>
                        <param-value>/hamyar/Logoff.jsf</param-value>
                        <description>uri to logoff</description>
                </init-param>
                <init-param>
                        <param-name>accessDeniedURI</param-name>
                        <param-value>/hamyar/AccessDenied.jsf</param-value>
                        <description>page to redirect if access to the rssource is denied</description>
                </init-param>
        <init-param>
                        <param-name>loginModules</param-name>
                        <param-value>net.sf.jguard.loginmodules.XmlLoginModule</param-value>
                        <description>loginModules used for authentication, and splitted with the ',' character</description>
                </init-param>
                <init-param>
                        <param-name>net.sf.jguard.loginmodules.XmlLoginModule.Flag</param-name>
                        <param-value>REQUIRED</param-value>
                        <description>flag corresponding to the first loginModule. each loginModule defined
                        above must have his own Flag which can be 'REQUIRED','OPTIONAL','REQUISITE',
                        or 'SUFFICIENT'</description>
                </init-param>
                <init-param>
                        <param-name>net.sf.jguard.loginmodules.XmlLoginModule.Options</param-name>
                        <param-value>debug="false",fileLocation="file:///home/as/install/jakarta-tomcat-5.0.30/webapps/hamyar/WEB-INF/conf/jGuard/jGuardUsersRoles.xml"</param-value>
            <!--<param-name>net.sf.jguard.loginmodules.OracleLoginModule.Options</param-name>
                        <param-value>authenticationUrl="jdbc:oracle:thin:@localhost:1521:dbschema",authenticationLogin="charles",authenticationPassword="charles",authenticationDriver="oracle.jdbc.driver.OracleDriver"</param-value>-->
            <description>options related to one of the loginModule defined in the 'loginModules' init parameters</description>
                </init-param>
                <!-- authentication settings -->
                <!-- authorization settings -->
                <init-param>
                        <param-name>authorizationManager</param-name>
            <!--<param-value>net.sf.jguard.authorization.PostgreSQLAuthorizationManager</param-value>-->
                         <!--<param-value>net.sf.jguard.authorization.OracleAuthorizationManager</param-value>-->
                        <!--<param-value>net.sf.jguard.authorization.MySQLAuthorizationManager</param-value>-->
                        <param-value>net.sf.jguard.authorization.XmlAuthorizationManager</param-value>
                        <description>class which handle to collect permissionsCollection</description>
                </init-param>
                <!-- XmlAuthorizationManager parameter -->
                <init-param>
                        <param-name>fileLocation</param-name>
                        <param-value>file:///home/as/install/jakarta-tomcat-5.0.30/webapps/hamyar/WEB-INF/conf/jGuard/jGuardPrincipalsPermissions.xml</param-value>
                        <description>xml file Location</description>
                </init-param>
                <init-param>
                        <param-name>authorizationDriver</param-name>
                        <!--<param-value>org.postgresql.Driver</param-value>-->
                        <param-value>com.mysql.jdbc.Driver</param-value>
                        <!--<param-value>oracle.jdbc.driver.OracleDriver</param-value>-->
                        <description>jdbc driver for authorizations</description>
                </init-param>
                <init-param>
                        <param-name>authorizationUrl</param-name>
                        <!--<param-value>jdbc:postgresql://192.168.0.2:5434/DIABOLO</param-value>-->
                        <param-value>jdbc:mysql://127.0.0.1:3306/diabolo</param-value>
                        <!--<param-value>jdbc:oracle:thin:@CARTHAGE.mshome.net:1521:bea</param-value>-->
                        <description>jdbc url for authorizations</description>
                </init-param>
                <init-param>
                        <param-name>authorizationLogin</param-name>
                        <!--<param-value>postgres</param-value>-->
                        <param-value>charles</param-value>
                        <!--<param-value>system</param-value>-->
                        <description>login to establish authorizations connection</description>
                </init-param>
                <init-param>
                        <param-name>authorizationPassword</param-name>
                                 <!--<param-value>JBOARD</param-value>-->
                        <param-value>charles</param-value>
                        <!--<param-value>charles</param-value>-->
                        <description>password to establish authorizations connection</description>
                </init-param>
                <init-param>
                        <param-name>debug</param-name>
                        <param-value>true</param-value>
                        <description>enable debug with true to trace authorization settings</description>
                </init-param>
                <!-- authorization settings -->
  </filter>



    <filter>
        <filter-name>extensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.component.html.util.ExtensionsFilter</filter-class>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>100m</param-value>
            <description>Set the size limit for uploaded files.
                Format: 10 - 10 bytes
                        10k - 10 KB
                        10m - 10 MB
                        1g - 1 GB
            </description>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
            <description>Set the threshold size - files
                    below this limit are stored in memory, files above
                    this limit are stored on disk.

                Format: 10 - 10 bytes
                        10k - 10 KB
                        10m - 10 MB
                        1g - 1 GB
            </description>
        </init-param>
<!--        <init-param>
            <param-name>uploadRepositoryPath</param-name>
            <param-value>/temp</param-value>
            <description>Set the path where the intermediary files will be stored.
            </description>
        </init-param>-->
    </filter>
    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>com.tarhyar.filter.HibernateFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/faces/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- Listener, that does all the startup work (configuration, init). -->
    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>


    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- Faces Servlet Mapping -->

    <!-- virtual path mapping -->
    <!--
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    -->

    <!-- extension mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>


    <!-- Welcome files -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <taglib>
        <taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
        <taglib-location>struts-tiles.tld</taglib-location>
    </taglib>

</web-app>
